.tiptap-popover {
  --tt-popover-bg-color: var(--white);
  --tt-popover-border-color: var(--tt-gray-light-a-100);
  --tt-popover-text-color: var(--tt-gray-light-a-600);

  .dark & {
    --tt-popover-border-color: var(--tt-gray-dark-a-50);
    --tt-popover-bg-color: var(--tt-gray-dark-50);
    --tt-popover-text-color: var(--tt-gray-dark-a-600);
  }
}

/* --------------------------------------------
    --------- POPOVER STYLING SETTINGS -----------
    -------------------------------------------- */
.tiptap-popover {
  z-index: 50;
  outline: none;
  transform-origin: var(--radix-popover-content-transform-origin);
  max-height: var(--radix-popover-content-available-height);

  > * {
    max-height: var(--radix-popover-content-available-height);
  }

  &[data-state="open"] {
    animation: tiptap-popover-in var(--tt-transition-duration-short, 0.1s) ease-out;
  }

  &[data-state="closed"] {
    display: none;
    animation: none;
  }

  @media (prefers-reduced-motion: reduce) {
    &[data-state="open"] {
      animation: none;
    }
  }
}

@keyframes tiptap-popover-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
